
.gpu-panel {
	float: left;
	margin: 14px;
	border: 1px solid blue;
	padding: 5px;
	width: 500px;
	height: 600px;
	background-color: #a0a0ff
}

.gpu-graph {
	width: 450px;
	height: 180px;
	display: block;
	margin: auto;
}

.gpu-svg {
	width: 450px;
	height: 150px;
	display: block;
	margin: auto;
	background-color: #050505
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #a0a0ff;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
	font: 12px Arial;
	fill: #a0a0ff ;
}

.gpu-process {
	max-height: 400px;
	overflow-y: auto;
}

.gpu-panel .gpu-title {
	text-align: center;
	color: blue;
	font-size: 20px;
}

.gpu-process-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.gpu-process-table td, .gpu-process-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.gpu-process-table tr {
	background-color: #f2f2f2;
}

.gpu-process-table tr:hover {background-color: #ddd;}

.gpu-process-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6495ED;
    color: white;
}

.gpu-process-table-freeze th {
    color: gray;
}

.gpu-process-table-freeze tr {
    color: gray;
}
