body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #f0f0f0;
}

body::after {
  content: "";
  background-color: #f0f0f0;
  background-size: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#algrmDashboard {
	background-color: #f0f0f0;
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
}

.device-panel {
	margin: 14px;
	padding: 5px;
	width: 500px;
	height: 600px;
	background-color: white;
}

.device-graph {
	width: 450px;
	height: 180px;
	display: block;
	margin: auto;
}

.device-svg {
	width: 450px;
	height: 150px;
	display: block;
	margin: auto;
}

.graph-title {
	text-anchor: middle;
	font-size: 16px;
}

.device-graph path { 
    stroke-width: 2;
    fill: none;
}

.device-graph .line-0 {
	stroke: #9fa3df;
	stroke-width: 2;
	fill: none;
}

.device-graph .bar-0 {
	stroke: #9fa3df;
	stroke-width: 2;
	fill: #9fa3df;
}

.device-graph .text-line-0 {
	fill: #9fa3df;
	font-size: small;
	stroke: #9fa3df;
}

.device-graph .text-bar-0 {
	fill: #9fa3df;
	font-size: small;
	stroke: #9fa3df;
}

.device-graph .line-1 {
	stroke: #9ccc9f;
	stroke-width: 2;
	fill: none;
}

.device-graph .bar-1 {
	stroke: #9ccc9f;
	stroke-width: 2;
	fill: #9ccc9f;
}

.device-graph .text-line-1 {
	fill: #9ccc9f;
	font-size: small;
	stroke: #9ccc9f;
}

.device-graph .text-bar-1 {
	fill: #9ccc9f;
	font-size: small;
	stroke: #9ccc9f;
}

.device-graph .axis path,
.device-graph .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.device-graph .axis text {
	font: 12px Arial;
	fill: black;
}

.device-process {
	max-height: 180px;
	overflow-y: auto;
	display: flex;
    align-items: center;
    justify-content: center;
}

.device-panel .device-title {
	text-align: center;
	font-size: 20px;
	margin: 25px;
}

.gpu-title-box {
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
	width: 500px;
}

.gpu-title-chart {
	width: 100px;
}

.gpu-title-text {
	width: 300px;
}

.device-process-table {
    border-collapse: collapse;
	border: 1px solid #ddd;
    width: 450px;
}

.device-process-table td, .device-process-table th {
    padding: 8px;
}

.device-process-table tr {
	background-color: white;
}

.device-process-table tr:hover {background-color: #f0f0f0;}

thead {
	border: 1px solid #ddd;
}

.device-process-table th {
	font: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
}

.device-process-table-freeze th {
    color: #e0e0e0;
}

.device-process-table-freeze tr {
    color: #e0e0e0;
}

iframe {
	width: 100%;
	height: 100%;
}
